<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	
	<bean id="textEditor" class="com.moon.innerBeans.TextEditor">
		<property name="test" value="Spring 注入内部Beans" />
		<!-- <property name="" ref="" /> -->
		<property name="spellChecker">
			<bean id="spellChecker" class="com.moon.innerBeans.SpellChecker" >
				<property name="name" value="张三"></property>
				<property name="age" value="18"></property>
			</bean>
		</property>
	</bean>
	
	
</beans>
