<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="helloWorld" class="com.moon.beanpostprocessor.HelloWorld" init-method="init" destroy-method="destroy">
		<property name="message" value="给 HelloWorld.java 中 message 属性赋值. 2018/11/21 20:12" />
	</bean>
	
	<bean class="com.moon.beanpostprocessor.InitHelloWorld" />
	
	
</beans>
